<% if(isAuthenticated) { %>
<form action="/cart" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="productId" value="<%= product._id %>">
    <div>
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" id="quantity" step="1" value="1">
    </div>
    <button class="btn" type="submit">Add to Cart</button>
</form>
<% } else { %>
    <form action="/login" method="GET">
        <button class="btn" type="submit">Login To Shop!</button>
    </form>
<% } %>