<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>An Error Occured - We are working on it,please retry later</h1>
    <h2>Error Details :</h2>
    <p><%= error %> </p>

<%- include('includes/end.ejs') %>